<h2>hello ruby dude!</h2>
You can 
<%= link_to 'login', url_for(:action => 'login', :controller => 'users') %> 
, 
<%= link_to 'create', :new_user %> 
account or read 
<%= link_to 'help', url_for(:action => 'help', :controller => 'application') %> 
